################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/packages
/MonoDebugger.sln.ide
*.suo
/Output/Debug
/UpgradeLog.htm
/MonoDebugger.SharedLib/obj/Debug
/MonoDebugger.MonoServer/obj/Debug
/MonoDebugger.VS2013.Debugger/obj/Debug
/MonoDebugger.VS2013/obj/Debug
/MonoDebugger.Contracts/obj/Debug
/MonoDebugger.Contracts/bin/Debug
